
/*
Vars
 */

$black: #000000;
$white: #FFFFFF;
$lightGray: #D3D3D3;
$darkGray: #A9A9A9;
$red: #7C0A02;


/*
Mixins
 */

@mixin translateY($e) {
    -webkit-transform: translateY($e);
        -moz-transform: translateY($e);
            -transform: translateY($e);
}

@mixin transition($e) {
    -webkit-transform: transition($e);
        -moz-transform: transition($e);
            -transform: transition($e);
}

body{
    font-family: Roboto;
    font-size: 18px;
    color: $black;
    font-weight: 400;
    font-style: normal;
}


a {
    text-decoration: none;
    @include transition(.4s ease-in-out);
    cursor: pointer;

    &:hover {
    color: $red;
    @include transition(.4s ease-in-out);
    }
}


.container-fluid {
    line-height: 24px;
}

